.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: $title-color;
        transition: all .3s ease-in;
    }
    &:hover {
        p {
            color: $accent-color;
        }
    }
}